.ap-imagetextblock {
  width: 23.101%;
}
.featured-collections {
  flex: 1;
  width: 76.899%;
  padding-left: 30px;   
}    
.featured-collections {
  overflow: hidden;   
}

/* IMAGE CONTENT  */
.image-width-text_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px 40px 40px 40px;
}
.image-width-text_link {
  color: var(--color-a);
  line-height: 30px;
}
.image-width-text_link:hover {
  color: var(--color-a-hover);
}
/* End  */

@media (max-width: 991px) {
  .image-width-text_content {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .ap-imagetextblock,
  .featured-collections {
    width: 100%;
  }
  .ap-imagetextblock--cover .ap-imagetextblock__image {
    width: 100%;
  }
  .ap-imagetextblock {
    min-height: 300px;
    margin-bottom: 30px;
  }
  .featured-collections {
    padding: 0;
  }
  .shopify-section--advanced-content .row {
    flex-direction: column;
  }
}
