.announcement-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.announcement-sign .header__icon-wrapper {
  display: flex;
  align-items: center;   
  justify-content: end;
  text-transform: uppercase;
  gap: 3px;
}
.content-sign {
  font-size: var(--xxsmall-font-size);
}
.ap-announcementbar__list {
  padding: 0;
}
@media (min-width: 768px) {
  .announcement-row .ap-announcementbar__list {
    width: 50%;
    max-width: 100%;
    padding: 0;
  }
  .announcement-row .announcement-sign {
    flex: 1;
  }
  .ap-announcementbar__message {
    text-align: left;
  }
}
@media (max-width: 1199px) {
  .content-sign {
    display: none;
  }
}
.container-fluid .announcement-row .ap-announcementbar__list .ap-announcementbar__message{
  text-align: center;
}
